* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}

.video-container video {
    width: 100% !important;
    height: auto !important;
}
